<form id="filtre">
    <h3>Filtrer les sorties</h3>

    {# Dropdown de selection du site (lieu) #}
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <label for="dropdownMenuLink">Site: </label>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>


    <nav class="navbar navbar-light bg-light" id="champRecherche">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <label for="champRecherche">Le nom de la sortie contient : </label>

    <div id="rechercheDates">

    </div>



</form>