<h6 class="display-4 text-center">Liste des participants inscrits:</h6>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Pseudo</th>
        <th scope="col">Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td >L'Expert</td>
        <td>Jérémy</td>
    </tr>
    <tr>
        <td >The Snobinard</td>
        <td>Leonardo</td>
    </tr>
    <tr>
        <td >Scrum Master</td>
        <td colspan="2">Maxence</td>
    </tr>
    </tbody>
</table>